In [1]:
from glob import glob
import pandas as pd
from tqdm import tqdm
import gc
from os import system
from multiprocessing import Pool
import utils

In [2]:
train = utils.read_pickles('../data/train')
train.sort_values(['ip', 'device', 'os', 'click_time'], inplace=True)

100%|██████████| 10/10 [00:51<00:00,  5.16s/it]

In [3]:
train

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
3,1,2,1,2,477,2017-11-08 17:47:39,NaT,0
4,1,2,1,2,477,2017-11-08 20:08:39,NaT,0
5,1,2,1,2,477,2017-11-08 20:10:32,NaT,0
6,1,2,1,2,477,2017-11-08 22:03:35,NaT,0
7,1,2,1,2,477,2017-11-09 03:01:59,NaT,0
43,1,14,1,2,449,2017-11-09 14:34:09,NaT,0
0,1,1,1,2,125,2017-11-09 14:34:10,NaT,0
44,1,18,1,2,449,2017-11-09 14:34:11,NaT,0
45,1,18,1,2,449,2017-11-09 14:34:12,NaT,0
40,1,13,1,3,469,2017-11-08 22:20:54,NaT,0
37,1,12,1,3,178,2017-11-08 22:21:42,NaT,0
29,1,9,1,3,134,2017-11-08 22:21:43,NaT,0
33,1,10,1,4,113,2017-11-09 12:45:57,2017-11-09 12:46:29,1
18,1,5,1,4,113,2017-11-09 14:55:52,2017-11-09 14:56:17,1
8,1,2,1,6,477,2017-11-08 19:59:36,NaT,0
41,1,13,1,6,469,2017-11-08 20:27:46,NaT,0
9,1,2,1,9,477,2017-11-09 03:01:50,NaT,0
28,1,8,1,9,259,2017-11-09 03:01:53,NaT,0
31,1,9,1,9,322,2017-11-09 03:01:53,NaT,0
1,1,1,1,9,125,2017-11-09 03:01:54,NaT,0
30,1,9,1,9,258,2017-11-09 03:01:54,NaT,0
32,1,9,1,10,134,2017-11-08 23:34:54,NaT,0
38,1,12,1,10,178,2017-11-08 23:34:54,NaT,0
10,1,2,1,15,477,2017-11-08 17:25:31,NaT,0
39,1,12,1,15,265,2017-11-08 17:25:35,NaT,0
23,1,6,1,15,459,2017-11-08 17:25:36,NaT,0
46,1,64,1,15,459,2017-11-08 17:25:36,NaT,0
19,1,5,1,27,113,2017-11-09 14:56:11,2017-11-09 14:56:34,1
42,1,13,1,28,469,2017-11-08 19:37:16,NaT,0
34,1,10,1,30,113,2017-11-09 12:46:46,2017-11-09 12:46:50,1
...,...,...,...,...,...,...,...,...
184903570,364776,1,2,58,120,2017-11-09 15:49:52,NaT,0
184903604,364776,2,2,58,237,2017-11-09 15:49:52,NaT,0
184903715,364776,7,2,58,101,2017-11-09 15:49:52,NaT,0
184903769,364776,12,2,58,259,2017-11-09 15:49:52,NaT,0
184903806,364776,14,2,58,356,2017-11-09 15:49:52,NaT,0
184903868,364776,160,2,58,457,2017-11-09 15:49:52,NaT,0
184903754,364776,11,2,58,137,2017-11-09 15:49:54,NaT,0
184903674,364776,6,2,58,101,2017-11-09 15:49:57,NaT,0
184903818,364776,17,2,58,280,2017-11-09 15:50:00,NaT,0
184903870,364777,19,0,21,213,2017-11-09 13:24:38,NaT,0
184903871,364777,19,0,21,213,2017-11-09 13:24:39,2017-11-09 13:25:29,1
184903872,364777,19,0,21,213,2017-11-09 13:27:26,NaT,0
184903873,364777,19,0,21,213,2017-11-09 13:27:27,NaT,0
184903869,364777,3,1,19,280,2017-11-09 01:15:49,NaT,0
184903875,364778,2,1,13,377,2017-11-09 14:27:41,NaT,0
184903879,364778,14,1,13,401,2017-11-09 14:27:41,NaT,0
184903880,364778,15,1,13,412,2017-11-09 14:27:41,NaT,0
184903881,364778,18,1,13,30,2017-11-09 14:27:44,NaT,0
184903878,364778,13,1,13,477,2017-11-09 14:27:45,NaT,0
184903874,364778,1,1,13,17,2017-11-09 14:27:50,NaT,0
184903877,364778,12,1,13,205,2017-11-09 14:27:53,NaT,0
184903887,364778,56,1,13,406,2017-11-09 14:27:54,NaT,0
184903888,364778,93,1,13,371,2017-11-09 14:27:54,NaT,0
184903885,364778,26,1,13,477,2017-11-09 14:27:59,NaT,0
184903889,364778,94,1,13,361,2017-11-09 14:28:02,NaT,0
184903876,364778,3,1,13,489,2017-11-09 14:28:16,NaT,0
184903884,364778,23,1,13,30,2017-11-09 14:28:28,NaT,0
184903882,364778,18,1,13,134,2017-11-09 14:28:34,NaT,0
184903883,364778,22,1,13,116,2017-11-09 14:28:40,NaT,0
184903886,364778,29,1,18,101,2017-11-09 08:00:33,2017-11-09 08:50:43,1

In [4]:
keys = ['ip', 'device', 'os']

In [5]:
for values in train.head(99)[keys + ['click_time']].values:
    key_values = values[:-1]
    click_time = values[-1]
    print(key_values, click_time)

[1 1 2] 2017-11-08 17:47:39
[1 1 2] 2017-11-08 20:08:39
[1 1 2] 2017-11-08 20:10:32
[1 1 2] 2017-11-08 22:03:35
[1 1 2] 2017-11-09 03:01:59
[1 1 2] 2017-11-09 14:34:09
[1 1 2] 2017-11-09 14:34:10
[1 1 2] 2017-11-09 14:34:11
[1 1 2] 2017-11-09 14:34:12
[1 1 3] 2017-11-08 22:20:54
[1 1 3] 2017-11-08 22:21:42
[1 1 3] 2017-11-08 22:21:43
[1 1 4] 2017-11-09 12:45:57
[1 1 4] 2017-11-09 14:55:52
[1 1 6] 2017-11-08 19:59:36
[1 1 6] 2017-11-08 20:27:46
[1 1 9] 2017-11-09 03:01:50
[1 1 9] 2017-11-09 03:01:53
[1 1 9] 2017-11-09 03:01:53
[1 1 9] 2017-11-09 03:01:54
[1 1 9] 2017-11-09 03:01:54
[1 1 10] 2017-11-08 23:34:54
[1 1 10] 2017-11-08 23:34:54
[1 1 15] 2017-11-08 17:25:31
[1 1 15] 2017-11-08 17:25:35
[1 1 15] 2017-11-08 17:25:36
[1 1 15] 2017-11-08 17:25:36
[1 1 27] 2017-11-09 14:56:11
[1 1 28] 2017-11-08 19:37:16
[1 1 30] 2017-11-09 12:46:46
[1 1 30] 2017-11-09 13:03:42
[1 1 32] 2017-11-09 15:15:10
[1 1 37] 2017-11-09 15:17:55
[1 1 43] 2017-11-09 01:44:53
[1 1 47] 2017-11-09 01:43:08
[1 1 48] 2017-11-09 10:42:11
[1 1 48] 2017-11-09 10:42:11
[1 1 48] 2017-11-09 10:42:12
[1 1 48] 2017-11-09 10:42:12
[1 1 48] 2017-11-09 10:42:13
[1 1 48] 2017-11-09 10:42:13
[1 1 49] 2017-11-08 20:05:42
[1 1 52] 2017-11-09 10:34:25
[1 1 52] 2017-11-09 10:34:25
[1 1 52] 2017-11-09 10:34:25
[1 1 52] 2017-11-09 10:34:25
[1 1 52] 2017-11-09 10:34:26
[5 1 8] 2017-11-07 03:55:50
[5 1 13] 2017-11-07 01:37:30
[5 1 13] 2017-11-07 01:37:30
[5 1 13] 2017-11-07 05:05:44
[5 1 13] 2017-11-07 05:06:16
[5 1 13] 2017-11-07 05:07:40
[5 1 13] 2017-11-07 05:08:27
[5 1 13] 2017-11-07 05:08:50
[5 1 13] 2017-11-07 05:08:51
[5 1 19] 2017-11-07 03:33:37
[5 1 19] 2017-11-07 03:33:45
[5 1 19] 2017-11-07 03:33:47
[5 1 19] 2017-11-07 04:33:34
[5 1 19] 2017-11-07 09:08:22
[5 1 19] 2017-11-07 10:52:35
[5 1 19] 2017-11-07 13:51:54
[5 1 23] 2017-11-07 02:33:24
[5 1 23] 2017-11-07 02:33:24
[5 1 23] 2017-11-07 02:33:25
[5 1 25] 2017-11-07 04:31:21
[5 1 25] 2017-11-07 04:31:37
[5 1 40] 2017-11-07 08:35:38
[5 1 40] 2017-11-07 09:23:54
[5 50 0] 2017-11-07 11:31:12
[6 0 0] 2017-11-09 07:57:33
[6 0 21] 2017-11-08 00:49:21
[6 0 29] 2017-11-09 05:34:32
[6 0 50] 2017-11-08 11:54:04
[6 1 1] 2017-11-08 15:13:11
[6 1 1] 2017-11-08 15:13:12
[6 1 1] 2017-11-08 15:13:13
[6 1 1] 2017-11-08 15:13:13
[6 1 1] 2017-11-08 15:13:18
[6 1 1] 2017-11-08 15:13:22
[6 1 1] 2017-11-08 15:13:23
[6 1 1] 2017-11-08 15:13:27
[6 1 1] 2017-11-09 02:07:49
[6 1 1] 2017-11-09 02:09:19
[6 1 1] 2017-11-09 09:18:34
[6 1 1] 2017-11-09 10:49:58
[6 1 1] 2017-11-09 10:49:59
[6 1 1] 2017-11-09 10:50:00
[6 1 1] 2017-11-09 10:50:13
[6 1 1] 2017-11-09 10:50:20
[6 1 1] 2017-11-09 10:50:23
[6 1 1] 2017-11-09 10:50:28
[6 1 1] 2017-11-09 10:50:40
[6 1 1] 2017-11-09 10:51:12
[6 1 1] 2017-11-09 10:53:28
[6 1 1] 2017-11-09 10:53:41
[6 1 1] 2017-11-09 10:53:53
[6 1 1] 2017-11-09 10:53:53

In [7]:
key_values

array([6, 1, 1], dtype=object)